*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    text-transform: uppercase;
}
section{
    max-width: 2000px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.container{
    max-width: 1025px;
    margin: 0 auto;
    padding: 10px;
}
.top{
    background-image: url(../img/top-bg.jpg);
}

.advantages{
    background-image: url(../img/adv-bg.jpg);
}

.advantages__title{
    font-size: 50px;
    font-weight: 100;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
.advantages__items{
    display: flex;
    max-width: inherit;
    justify-content: space-between;
    margin-top: 90px;
}
.advantages__item{
    max-width: 200px;
}
.advantages__item-img{
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    text-align: center;
    transition: transform .3s;
}
.advantages__item-img:hover{
    transform: scale(1.05);
}
.advantages__item-txt{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 23px;
    margin-bottom: 100px;
}
.advantages__span-1{
    max-width: 500px;
    font-size: 13px;
    line-height: 1px;
}
.advantages__span-2{
    font-size: 40px;
}

.zero-g{
    background-image: url(..//img/zero-g__bg.png);
}
.zero-g__inner{
    position: relative;
    height: 100vh;
}
.zero-g__text{
    width: 100%;
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-transform:none;
    bottom: 67px;
    left: 50%;
    transform: translateX(-50%);
}

.modes{
    background-image: url(..//img/modes-bg.jpg);
    padding-bottom: 120px;
}
.modes__title{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 40px;
}
.modes__title span{
    font-size: 97px;
}
.modes__items{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.modes__item{
    max-width: 162px;
}
.modes__item-icon{
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    transition: transform 0.3s;
}
.modes__item-icon:hover{
    transform: scale(1.02);
}
.modes__item-title{
    position: absolute;
    font-size: 25px;
    color: #552c00;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modes__item-img{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.mode{
    width: 150px;
    height: 47px;
    color: #000;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    transition: transform .3s;
}
.mode:hover{
    transform: scale(0.9);
}
.mode__txt{
    z-index: 1000;
    opacity: 1;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    line-height: 47px;
}
.modes__item-box{
    margin-top: 13px;
}
.mode__img{
    width: 150px;
    height: 47px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    z-index: 1;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.comfort{
    background-image: url(..//img/comfort-bg.jpg);
}
.comfort__inner{
    margin-left: auto;
    text-align: right;
    max-width: 520px;
    margin-top: 75px;
}
.comfort__title{
    font-family: 'Sitka';
    font-size: 40px;
    font-weight: 100;
}
.comfort__text{
    font-weight: 300;
    font-size: 16px;
    text-transform: none;
    margin-top: 24px;
}

.features{
    background-image: url(..//img/features-bg.jpg);
}
.features__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.features__item{
    max-width: 236px;
    position: relative;
}

.features__right{
    text-align: right;
}

.features__left .features__item{
    margin-bottom: 90px;
}

.features__right .features__item{
    margin-bottom: 60px;
}

.features__left div:nth-child(1)::after{
    content: '';
    position: absolute;
    top: 34px;
    left: 0;
    width: 532px;
    height: 64px;
    background-image: url(..//img/features-arrow--1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__left div:nth-child(2)::after{
    content: '';
    position: absolute;
    top: -77px;
    left: 0;
    width: 391px;
    height: 98px;
    background-image: url(..//img/features-arrow--2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__left div:nth-child(3)::after{
    content: '';
    position: absolute;
    top: -82px;
    left: 0;
    width: 436px;
    height: 102px;
    background-image: url(..//img/features-arrow--3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__right div:nth-child(1)::after{
    content: '';
    position: absolute;
    top: 34px;
    right: 0;
    width: 541px;
    height: 130px;
    background-image: url(..//img/features-arrow--4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__right div:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    width: 518px;
    height: 77px;
    background-image: url(..//img/features-arrow--5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__right div:nth-child(3)::after{
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    width: 512px;
    height: 27px;
    background-image: url(..//img/features-arrow--6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__right div:nth-child(4)::after{
    content: '';
    position: absolute;
    top: -11px;
    right: 0;
    width: 419px;
    height: 31px;
    background-image: url(..//img/features-arrow--7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.features__title{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.features__item-title{
    font-size: 16px;
    font-weight: 500;
}
.features__item-txt{
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    margin-top: 15px;
}

.design{
    background-image: url(..//img/design-bg.jpg);
    position: relative;
}
.design__title{
    margin-top: 36px;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
}
.design__txt{
    margin-top: 28px;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
}
.design__inner{
    display: flex;
    margin-top: auto;
    width: 1024px;
    justify-content: space-between;
    height: auto;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.design__left{
    margin-top: 190px;
    text-align: center;
    margin-right: auto;
    
}
.design__img{
    
}
.design__left-title{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    max-width: 232px;
    margin: 0 auto;
}
.design__left-txt{
    font-size: 14px;
    font-weight: 300;
    margin-top: 28px;
    text-align: center;
}
.design__center{
    margin-top: auto;
}
.sign{
    margin-top: 58px;
}
.design__right{
    max-width: 105px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 70px;
}
.design__right-img{
    margin-bottom: 19px;
    transition: transform .3s;
}
.design__right-img:hover{
    transform: scale(1.1);
}
.design__right-txt{
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.bottom__title{
    margin-top: 105px;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #825736, #d4a166);
}
.bottom__text{
    font-size: 17px;
    font-weight: 300;
    color: #755a4d;
    margin-top: 30px;
    text-align: center;
}
.bottom__img{
    display: block;
    margin: 0 auto;
    margin-left: -45px;
    margin-top: 100px;
}

@media(max-height: 720px){
    .design__img{
        width: 80%;
    }
    .design__right{
        margin-bottom: 10px;
    }
    .design__right-img{
        display: block;
        margin-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .advantages__title{
        margin-top: 50px;
    }
    .modes__title{
        margin-top: 2px;
    }
    .features__inner{
        margin-top: 5px;
    }
    .bottom__title{
        margin-top: 20px;
    }
}